<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.freeman.quota-dashboard</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__PROJECT__/serve.py</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__PROJECT__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/serve.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/serve.log</string>
</dict>
</plist>
